<h1>Albums</h1>
<p>Click on an Album to view the pictures</p>

  <% @albums.each_slice(3) do |albums| %>
    <tr>
      <% albums.each do |album| %>
        <td><%= link_to image_tag(album.thumbnail.url, :border=>5), "/picasa/photos?name=#{album.name}", :title => album.name %></td>
      <% end %>
    </tr>
  <% end %>
  
</table>


