<h1>Photos</h1>
<p>Album Name:  <%= @name  %></p>



<div style="text-align: left;">
<table>
  <% @photos.each_slice(3) do |photos| %>
    <tr>
      <% photos.each do |photo| %>

        <td><%= link_to image_tag(photo.url, :border=>2, :mouseover => photo.url ), "#{photo.url}"   %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>